body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    color: #000;
	font-weight: bold;
    overflow-x: hidden;
    justify-items: center
}

#intro {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; 
}

.neon-text {
    text-align: center;
    font-size: 30px; 
    text-transform: uppercase;
    letter-spacing: 6px; 
    color: #001f3f; 
    text-shadow: 0 0 15px #ffffff; 
    animation: blinkNeon 0.8s infinite; 
    transform: scale(1.5); 
    font-family: 'Comic Sans MS', cursive; 
}

.content {
    width: 90%;
    margin: 0 auto;
	padding-top: 50px;
	}

p {
    font-size: 24px;
    text-align: justify;
    margin-bottom: 10px;
	margin-top: 1px;
	line-height: 1.5;

}
img {
    transition: transform 0.5s;
	transform: rotate(5deg);
	border-radius: 15px;
	object-fit: cover;
    margin: 20px;
}
img:hover {
    transform: scale(1.1);
}

img.left {
    float: left;
    margin-right: 40px;
	margin-top: 20px;
}

img.right {
    float: right;
    margin-left: 40px;
}
img.left,
img.right {
    width: 380px; 
    height: auto; 
	}
footer {
    margin-top: 50px;
}

@keyframes blinkNeon {
    0% {
        text-shadow: 0 0 10px #ffffff;
    }
    50% {
        text-shadow: 0 0 20px #ffffff;
    }
    100% {
        text-shadow: 0 0 10px #ffffff;
    }
}
/* Кнопка*/
button {
    background: none;
    border: none;
    padding: 0;
    transition: transform 0.3s, margin-left 0.3s;
    margin-left: 10px;
    position: fixed;
    top: 50px;
    left: 10px;
}
        button:hover {
            transform: rotate(360deg); 
            margin-left: 15px; 
        }
        button:active {
            animation: shake 0.5s; 
        }

        @keyframes shake {
            0%, 100% {
                transform: translateX(0); 
            }
            20%, 60% {
                transform: translateX(-5px); 
            }
            40%, 80% {
                transform: translateX(5px); 
            }
        }
        .main{
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 150px minmax(min-content, max-content) 700px;
        }
        @media screen and (max-width: 600px) {
            .content {
                width: 100%;
                padding: 20px;
            }
        
            img.left,
            img.right {
                width: 100%;
                float: none;
                margin: 0;
            }
        
            footer {
                margin-top: 20px;
            }
        }
        
        /* Кнопка */
        button {
            background: none;
            border: none;
            padding: 0;
            transition: transform 0.3s, margin-left 0.3s;
            margin-left: 10px;
        }
        
        button:hover {
            transform: rotate(360deg);
            margin-left: 15px;
        }
        
        button:active {
            animation: shake 0.5s;
        }
        
        @keyframes shake {
            0%, 100% {
                transform: translateX(0);
            }
            20%, 60% {
                transform: translateX(-5px);
            }
            40%, 80% {
                transform: translateX(5px);
            }
        }